
.wrapper{
    margin: 0 auto;
    width: 1200px;
    
}
/*-----------阿義炸雞------------------------*/
 
.chicken h1{
    line-height: 1.5px;
    font-size: 25px;
    background-image: linear-gradient(#9CDB95,#CEF9AA);
    padding:20px;
    width: 150px;
    text-align: center;
    color: black;
    margin: 20px  0;
}

.chicken li{
    display: flex;
}


.chicken img{
    width:0px;
    flex-basis: 60px;
    flex-grow: 1;
}

.chicken p{
    background-color:#BAC1E0;
    margin-left: 10px;
    font-size: 20px;
    padding: 30px;
    line-height: 1.8;
    vertical-align: middle;
    flex-basis: 0px;
    flex-grow: 1;
} 

/*-----------阿亮水餃------------------------*/

.dumplings h1{
    line-height: 1.5px;
    font-size: 25px;
    background-image: linear-gradient(#9CDB95,#CEF9AA);
    padding:20px;
    width: 150px;
    text-align: center;
    color: black;
    margin: 30px 0;
}

.dumplings li{
    display: flex;
}

.dumplings img{
    width: 0px;
    flex-basis: 60px;
    flex-grow: 1;


}


.dumplings p{
    background-color:#BAC1E0;
    margin-left: 10px;   
    font-size: 20px;
    padding: 30px;
    line-height: 1.8;
    flex-basis: 0;
    flex-grow: 1;
} 

/*-----------功夫大帝------------------------*/

.noodles  h1{
    line-height: 1.5px;
    font-size: 25px;
    background-image: linear-gradient(#9CDB95,#CEF9AA);
    padding:20px;
    width: 150px;
    text-align: center;
    color: black;
    margin: 20px 0;
}

.noodles li{
    display: flex;
}

.noodles  img{
    width: 0px;
    flex-basis: 60px;
    flex-grow: 1;

    
}

.noodles p{

    background-color:#BAC1E0;
    margin-left: 10px;   
    font-size: 20px;
    padding: 30px;
    line-height: 1.8;
    flex-basis: 0;
    flex-grow: 1;
}
/*----------隱家茶寮-----------------------*/
.matcha h1{
    line-height: 1.5px;
    font-size: 25px;
    background-image: linear-gradient(#9CDB95,#CEF9AA);
    padding:20px;
    width: 150px;
    text-align: center;
    color: black;
    margin: 20px 0;
}

.matcha li{
    display: flex;
}

.matcha img{
    width:0px;
    flex-basis: 60px;
    flex-grow: 1;
}

.matcha p{
    background-color:#BAC1E0;
    margin-left: 10px;   
    font-size: 20px;
    padding: 30px;
    line-height: 1.8;
    flex-basis: 0;
    flex-grow: 1;

} 

/*----------汐止街仔米粉湯-----------------------*/
.rice{
    margin-bottom: 20PX;
}

.rice h1{
    line-height: 1.5px;
    font-size: 25px;
    background-image: linear-gradient(#9CDB95,#CEF9AA);
    padding:20px;
    width: 220px;
    text-align: center;
    color: black;
    margin: 20px 0;
}

.rice li{
    display: flex;
}

.rice img{
    width: 0px;
    flex-basis: 60px;
    flex-grow: 1;
}


.rice p{
   background-color:#BAC1E0;
   margin-left: 10px;
   font-size: 20px;
   padding: 30px;
   line-height: 1.8;
   margin:  0 10px;
   margin-left:1px;
   flex-basis: 0;
   flex-grow: 1;
}