
.wrapper{
    margin: 0 auto;
    width: 1200px;
    outline: 1px solid pink;
    
}
/*-----------阿義炸雞------------------------*/
 
.chicken h1{
    line-height: 1.5px;
    font-size: 25px;
    background-image: linear-gradient(#9CDB95,#CEF9AA);
    padding:20px;
    width: 150px;
    text-align: center;
    color: black;
    margin: 20px  0;
}

.chicken li{
    display: flex;
}


.chicken img{
    width:0px;
    /* height: 450px; */
    flex-basis: 0;
    flex-grow: 1;
}

.chicken p{
    background-color:#BAC1E0;
    margin-left: 20px;
    font-size: 20px;
    padding: 30px;
    line-height: 1.8;
    vertical-align: middle;
    flex-basis: 0;
    flex-grow: 1;
} 

/*-----------阿亮水餃------------------------*/

.dumplings h1{
    line-height: 1.5px;
    font-size: 25px;
    background-image: linear-gradient(#9CDB95,#CEF9AA);
    padding:20px;
    width: 150px;
    text-align: center;
    color: black;
    margin: 30px 0;
}

.dumplings li{
    display: flex;
}

.dumplings img{
    width: 0px;
    /* height: 450px; */
    /* margin-left: 20PX; */
    flex-basis: 0;
    flex-grow: 1;
    margin-right: 10px;
}


.dumplings p{
    background-color:#BAC1E0;
    font-size: 20px;
    padding: 30px;
    line-height: 1.8;
    vertical-align: middle;
    flex-basis: 0;
    flex-grow: 1;
} 

/*-----------功夫大帝------------------------*/

.noodles  h1{
    line-height: 1.5px;
    font-size: 25px;
    background-image: linear-gradient(#9CDB95,#CEF9AA);
    padding:20px;
    width: 150px;
    text-align: center;
    color: black;
    margin: 20px 0;
}

.noodles li{
    display: flex;
}

.noodles  img{
    width: 600px;
    height: 450px;

    
}

.noodles p{
    background-color:#BAC1E0;
    margin-left: 20px;
    font-size: 20px;
    padding: 30px;
    line-height: 1.8;
    vertical-align: middle;
}
/*----------隱家茶寮-----------------------*/
.matcha h1{
    line-height: 1.5px;
    font-size: 25px;
    background-image: linear-gradient(#9CDB95,#CEF9AA);
    padding:20px;
    width: 150px;
    text-align: center;
    color: black;
    margin: 20px 0;
}

.matcha li{
    display: flex;
}

.matcha img{
    width: 600px;
    height: 450px;
}

.matcha p{
    background-color:#BAC1E0;
    font-size: 20px;
    padding: 50px;
    line-height: 1.8;
    vertical-align: middle;
    margin-RIGHT: 30PX;
} 

/*----------汐止街仔米粉湯-----------------------*/
.rice{
    margin-bottom: 20PX;
}

.rice h1{
    line-height: 1.5px;
    font-size: 25px;
    background-image: linear-gradient(#9CDB95,#CEF9AA);
    padding:20px;
    width: 200px;
    text-align: center;
    color: black;
    margin: 20px 0;
}

.rice li{
    display: flex;
}

.rice img{
    width: 600px;
    height: 450px;
}


.rice p{
    background-color:#BAC1E0;
    margin-left: 20px;
    font-size: 20px;
    padding: 30px;
    line-height: 1.8;
    vertical-align: middle;
}