.wrapper{
    margin: 0 auto;
    width: 1200px;
    outline: 1px solid pink;
    line-height: 2;
}
/*------時間軸線---------------------------*/
.schedule{
    padding-top: 100px;

    text-align: center;
}


.year{
    display: flex; 
    text-align: center;
}

.year h1{

    margin-left:220px ;

}

.year h2{
    /* border: 1px solid yellow; */
    margin-left:242px ;
}

.year h3{
    /* border: 1px solid yellow; */
    margin-left:213px ;
}
.time{
    display: flex;
    justify-content:space-between; 
    /* border: 1px solid rgb(71, 16, 235); */
    width: 1200px;
    text-align: center;
} 

.time h4{
    /* border: 1px solid green; */
    margin-left:220px ;
}

.time h5{
    /* border: 1px solid green; */
    margin-left :4px;
}
.time h6{
    /* border: 1px solid green; */
    margin-right:305px;
}


/*------明清後期---------------*/
.ming h1{

    line-height: 1.5px;
    font-size: 30px;
    background-image: linear-gradient(#9CDB95,#CEF9AA);
    padding:20px;
    width: 200px;
    text-align: center;
    color: black;
    margin: 10px 0;
}

.ming li{
    display:flex;
}



.ming img{
    width: 500px;
    height: 450px;
}

.ming p{
    background-color:#BAC1E0;
    margin-left: 30px;
    font-size: 20px;
    padding: 30px;
    line-height: 1.8;
    margin-left: 10px;

} 

/*------------日據後期-----------------*/
.japanese h1{

    line-height: 1.5px;
    font-size: 30px;
    background-image: linear-gradient(#9CDB95,#CEF9AA);
    padding:20px;
    width: 200px;
    text-align: center;
    color: black;
    margin: 10px 0;
}



.japanese  li{
    display:flex;
}
.japanese img{
    width: 600px;
    height: 450px;
}


.japanese p{
    background-color:#BAC1E0;
    margin-left: 30px;
    font-size: 20px;
    padding: 30px;
    line-height: 1.8;
    margin:  0 10px;
    margin-left:1px;
}


/*--------光復後時期-------------*/
.now h1{

    line-height: 1.5px;
    font-size: 30px;
    background-image: linear-gradient(#9CDB95,#CEF9AA);

    padding:20px;
    width: 200px;
    text-align: center;
    color: black;
    margin: 10px 0;
}


.now li{
    display:flex;
}

.now img{
    width: 600px;
    height: 450px;
}

.now p{
    background-color:#BAC1E0;
    margin-left: 10px;
    font-size: 20px;
    padding: 20px;
    line-height: 1.8;

}




