
.wrapper {
    margin:  0 auto 30px;
    width: 1200px;
}


h1{   
    height: 200px;
    text-align: center;
    padding-top: 130px;
    font-weight: 500px;
    font-size: 50px;
    color: black;
    position: relative;
}

h1::before {
    content:"";
    background-image:url(../question\ .png);
    opacity: 30%;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}


summary{
    padding: 50px;
    width: 400px;
    background-color: #CEF9AA;
    border: none;
    box-shadow: 1px 1px 2px #dfdfdf;
    cursor: pointer ;
    margin: 50px auto 0;

}

summary::marker{
    display: none;
}
details > p{
    background-color: #FFFBAD;
    padding: 50px;
    box-shadow: 1px 1px 2px #bbbbbb;
    width: 400px;
    margin: 0 auto;
}

