.wrapper{
    margin: 0 auto;
    width: 1200px;
    padding-bottom: 10px;
}




/*--------拱北殿------------------*/
.temple h1{
    line-height: 1.5px;
    font-size: 30px;
    background-image: linear-gradient(#9CDB95,#CEF9AA);
    padding:20px;
    width: 200px;
    text-align: center;
    color: black;
    margin: 10px 0;
}


.temple li{
    display: flex;

}


.temple img{
    width: 0px;
    flex-basis: 60px;
    flex-grow: 1;
}

.temple p{
    background-color:#BAC1E0;
    margin-left: 10px;
    font-size: 20px;
    padding: 30px;
    line-height: 1.8;
    flex-basis: 0;
    flex-grow: 1;
}
/*--------康誥溪步道( 賞櫻 )---------------*/
.blossom h1{
    line-height: 1.5px;
    font-size: 30px;
    background-image: linear-gradient(#9CDB95,#CEF9AA);
    color: yellowgreen;
    padding:20px;
    width: 300px;
    text-align: center;
    color: black;
    margin: 10px 0;
}
.blossom li{
    display: flex;
}
.blossom img{
    width: 0px;
    flex-basis: 60px;
    flex-grow: 1;

}
.blossom p{   
    background-color:#BAC1E0;
    margin-right: 10px;
    font-size: 20px;
    padding: 30px;
    line-height: 1.8;
    flex-basis: 0px;
    flex-grow: 1;


}


/*--------星光橋--------------*/


.bridge h1{
    line-height: 1.5px;
    font-size: 30px;
    background-image: linear-gradient(#9CDB95,#CEF9AA);
    color: yellowgreen;
    padding:20px;
    width: 200px;
    text-align: center;
    color: black;
    margin: 10px 0;
}
.bridge li{
    display: flex;
}

.bridge img{
    width: 0px;
    flex-basis: 60px;
    flex-grow: 1;
}
.bridge p{    
    background-color:#BAC1E0;
    margin-left: 10px;
    font-size: 20px;
    padding: 30px;
    line-height: 1.8;
    flex-basis: 0;
    flex-grow: 1;

}


/*-------五堵鐵馬道-------------*/

.bicycle h1{

    line-height: 1.5px;
    font-size: 30px;
    background-image: linear-gradient(#9CDB95,#CEF9AA);
    color: yellowgreen;
    padding:20px;
    width: 200px;
    text-align: center;
    color: black;
    margin: 10px 0;
}
.bicycle li{
    display: flex;
}
.bicycle img{
    width: 0px;
    flex-basis: 60px;
    flex-grow: 1;
}
.bicycle p{    
    background-color:#BAC1E0;
    margin-left: 10px;
    font-size: 20px;
    padding: 30px;
    line-height: 1.8;
    flex-basis: 0;
    flex-grow: 1;
 
}
